@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-navbar{
    /* display: flex; */
    /* position: relative; */
   
    height: 20px;
  }
  .navbar {
    /* position: absolute; */
    /* width: 100vw;
    display: flex;
    height: 50px;
    background-color: gray;
    color: black;
    justify-content: space-evenly;
    
    z-index: 2; */
   
    display: flex;
    height: 80px;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    color: black;
    z-index: 2;
    border-bottom: 1px solid black;
  
  }
  .left-nav {
    margin-left: 40px;
    display: flex;
    position: absolute;
    width: 30vw;
    justify-content: space-between;
    align-items: center;
  
  }
  .search-box {
    /* border: 3px solid green;
    width: 25vw;
    padding: 0.3rem;
    border-radius: 5px;
    text-align: center; */
    border: #fff;
    width: 25vw;
    padding: 0.3rem;
    border-radius: 5px;
    font-weight: 500;
    font-size: medium;
    color: black;
  
  }
  .mid-nav {
    /* display: flex;
    width: 3vw;
    background-color: transparent; */
    display: flex;
    position: absolute;
    margin-left: 50vw;
    height: 60px;
    background-color: gold;
  
  }
  .mid-nav img{
    color: #0056b3;
  }
  .mid-nav:hover {
    cursor: pointer;
    background-color: blueviolet;
  }
  .right-nav {
    /* width: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px; */
    position: absolute;
    margin-left: 85vw;
    width: 12vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
  }
  
  .navbar2 {
    /* position: sticky;
    top: 0; */
    display: flex;
    justify-content: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* max-width: 60vw; */
    /* padding: 10px; */
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .dropbtn {
    background-color: #fff;
    color: black;
    padding: 0 16px;
    padding-top: 16px;
    margin: 0 10px;
  
    font-size: 12px;
    border: none;
    cursor: pointer;
    position: relative;
  }
  
  /* .dropbtn:hover {
    background-color: #555;
  } */
  
  .dropdown-content {
    /* margin-top: 12px; */
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .line {
    position: absolute;
    bottom: 0;
    left: 15px;
    height: 1px;
    background-color: black;
    width: 0;
  }
  
  .dropdown:hover .line {
    animation: expandLine 0.5s forwards;
  }
  
  @keyframes expandLine {
    from {
        width: 0;
    }
    to {
        width:85%;
    }
  }
  
  
  .fa-user{
    cursor: pointer;
    color: black;
  }
  
  
  .popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
  }

  
form {
    margin-top:25px ;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  form label {
    margin-top: 10px;
    text-align: left;
  }
  
  form input {
    padding: 8px;
    margin-top: 5px;
    width: 70%;
    box-sizing: border-box;
  }
  
  form button {
    width: 70%;
    font-weight: 600;
    margin-top:15px;
    padding: 10px;
    background-color: #0b0b0b;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 40px;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  

.container {
    display: flex;
    width: 100%;
   
}

.filters {
    margin-left: 30px;
    width: 260px;
    padding: 10px;
    background-color: #f4f4f4;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    background-color:  white;
    
}

.filter-section {
    padding-bottom:10px ;
    margin-bottom: 20px;
    border-bottom: 1.5px solid black;
}

.filter-title {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-content {
    display: none;
    margin-top: 10px;
}

.arrow {
    transition: transform 0.3s;
}

.arrow.up {
    transform: rotate(180deg);
}

.products {
    flex: 1;
    padding: 20px;
}

input[type=range] {
    width: 100%;
    margin: 10px 0;
}

input[type=number] {
    width: 70px;
    margin: 5px;
}

.range-inputs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.price-inputs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.size-option {
    text-align: center;
    border: 1px solid black;
    width: 51px;
    cursor: pointer;
    background-color: white;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 2px;
    transition: background-color 0.3s;
}

.size-option:hover {
    background-color: #bbb;
}



.joggers-mc{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    /* flex-wrap: nowrap; */
    /* white-space: nowrap; */
    /* overflow-x: auto; */
    
  }
  
  .joggers-slider{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .joggers-data{
    margin:0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .joggers-pursize{
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    width: 35px;
    height: 30px;
    border: 1.2px solid rgba(8, 8, 8, 0.253);
    margin: 2px 2px;
  }
  
  .joggers-pursize:hover{
    background-color: #a3a5a6;
  }
  .joggers-img{
   width:250px;
   /* border: 0.3px solid rgb(14, 13, 13); */
   border-radius: 1px;
   transition: all 2s;
  }
  .joggers-text{
   text-align: center;
   font-size: 17px;
   margin-bottom: 15px;
   width: 200px;
   /* display: flex;
   /* flex-wrap: wrap; */
   /* align-items: center;
   justify-content: center;  */
  }
  
  
.footer {
    display: flex;
    font-size: 15px;
    bottom: 0;
    color: black;
    height: 20rem;
    background-color: #f3f2f5;
  }
  .items {
    display: flex;
    margin-top: 3rem;
    margin-left: 1rem;
    justify-content: space-between;
    width: 100vw;
  }
  #About-Us {
    margin-left: 2rem;
    display: flex;
    width: 18vw;
    height: 40vh;
  }
  #Policies {
    margin-left: 2rem;
    display: flex;
    width: 18vw;
    height: 40vh;
  }
  #Newsletter {
    margin-left: 2rem;
    display: flex;
    width: 18vw;
    height: 40vh;
  }
  .email-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18rem;
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
    height: 3rem;
    cursor: pointer;
    outline: none;
    padding: 0px 10px;
  }
  .email-box:hover {
    border: 2px solid black;
  }
  .email {
    height: 100%;
    padding: 5px 8px;
    font-size: 16px;
  }
  
  .submit-email {
    background: white;
    border: none;
    display: flex;
    justify-content: end;
  }
  #Follow-Us {
    margin-left: 2rem;
    display: flex;
    width: 18vw;
    height: 40vh;
  }
  
  .follow {
    width: 14.05vw;
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
  }
  
  .fb {
    display: flex;
    width: 3.5vw;
    height: 3.5vw;
    border: 0.5px solid gray;
    justify-content: center;
    align-items: center;
    background: linear-gradient(black 0 0) calc(100% - var(--p, 0%)) /
      var(--p, 0%) no-repeat;
    transition: 0.4s, background-position 0s;
  }
  .fb:hover {
    color: white;
    --p: 100%;
  }
  .twitter {
    display: flex;
    width: 3.5vw;
    height: 3.5vw;
    border: 0.5px solid gray;
    justify-content: center;
    align-items: center;
    background: linear-gradient(black 0 0) calc(100% - var(--p, 0%)) /
      var(--p, 0%) no-repeat;
    transition: 0.4s, background-position 0s;
  }
  .twitter:hover {
    color: white;
    --p: 100%;
  }
  .ig {
    display: flex;
    width: 3.5vw;
    height: 3.5vw;
    border: 0.5px solid gray;
    justify-content: center;
    align-items: center;
    background: linear-gradient(black 0 0) calc(100% - var(--p, 0%)) /
      var(--p, 0%) no-repeat;
    transition: 0.4s, background-position 0s;
  }
  .ig:hover {
    color: white;
    --p: 100%;
  }
  .yt {
    display: flex;
    width: 3.5vw;
    height: 3.5vw;
    border: 0.5px solid gray;
    justify-content: center;
    align-items: center;
    background: linear-gradient(black 0 0) calc(100% - var(--p, 0%)) /
      var(--p, 0%) no-repeat;
    transition: 0.4s, background-position 0s;
  }
  .yt:hover {
    color: white;
    --p: 100%;
  }
  .items ul li {
    list-style: none;
    padding: 0.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .end {
    height: 40px;
    background-color: #f3f2f5;
  }

  .policies{
    margin-top: 30px ;
    margin-bottom: 30px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
  }
  .sub-policies img{
    height: 22px;
    width: 22px;
  }
  .sub-policies{
    text-align: center;
  }
  .policy-info{
    font-size:13px ;
    font-weight: 600;
  }
  .policy-smallinfo{
    font-size:10px ;
  }