@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    height: 100vh;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
  }
  .main-login-box{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  .login-container {
    /* display: flex;*/

    /* align-items: center; */ 
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 5px;
    text-align: center;
  }
  .p-enter{
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #ccc;
  }

  .input-group input::placeholder {
    color: #060606; /* Placeholder text color */
    font-weight: 500;
  
  }
  
  .error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 2px;
    background-color: #101010;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  }
  .p-newuser{
    cursor: pointer;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
  }
  
.policies{
  margin-top:30px ;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
}
.sub-policies img{
  height: 22px;
  width: 22px;
}
.sub-policies{
  text-align: center;
}
.policy-info{
  font-size:13px ;
  font-weight: 600;
}
.policy-smallinfo{
  font-size:10px ;
}

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  #close-popup {
    margin-top: 10px;
  }
  